 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}

body{
  background: #222;
}
.card{
  max-width: 430px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  background-color: #fff;
  margin: 80px auto 0;
  padding: 40px 35px;
  border: 3px solid goldenrod;
  border-radius: 25px;
  text-align: center;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search input{
  border-radius: 15px;
  padding: 10px 25px;
  border: 0;
  outline: 0;
  height: 40px;
  margin-right: 16px;
  font-size: 15px;
  background: #ebfffc;
  color: #555;
  transition: all 0.3s ease;
}
.search input::placeholder{
  color: gray;
  font-style: italic;
}
.search input:focus{
  border-color: #00feba;
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.7);
}
.search button{
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border: 0;
  outline: 0;
  background: #ebfffc;
}
.search button img{
  width: 20px;
  padding:5px 0 0 0;
}
.weather-icon{
  width: 170px;
  margin-top: 25px;
}
.weather h1{
  color: #fff;
  font-weight: 400;
  font-size: 50px;
}
.city{
  font-weight: 550;
  color: #fff;
  margin-top: -5px;
}
.details{
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 55px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.humidity{
font-size: 20px;
}
.col2{
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.col2 img{
  width: 40px;
  margin-left: 20px;
}
.wind{
  font-size: 20px;
  margin-left: 10px;
}
.error{
  margin-top: 30px;
  color: #fff;
  font-size: 22px;
  display: none;
}
.weather{
  display: none;
}